

.banner {
  background-color: #E0E7ED;
  background-image: url('/static/images/fon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  &__wrapper {
    padding-top: 57px;
    padding-bottom: 285px;
    @media (min-width: 1024px) {
      padding-top: 148px;
      padding-bottom: 286px;
    }
  }
  &__title {
    max-width: 850px;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    color: #00559D;
    letter-spacing: -1px;

    @media (min-width: 768px) {
      font-size: 60px;
      line-height: 60px;
    }
    @media (min-width: 1024px) {
      font-size: 90px;
      line-height: 90px;
    }
  }
}

.hero-btn-wrapper {
  margin-top: 41px;
  max-width: 360px;
}


.css-slider {
  margin: 50px auto;
  max-width: 1080px;
  position: relative;
  // perspective: 1300px;
  & > input {
    display: none;
    &:nth-of-type(3):checked ~ ul li:first-of-type {
      margin-left: -200%;
    }
    &:nth-of-type(2):checked ~ ul li:first-of-type {
      margin-left: -100%;
    }
    &:nth-of-type(1):checked ~ ul li:first-of-type {
      margin-left: 0%;
    }
  }
  & > ul {
    position: relative;
    // width: 820px;
    height: 420px;
    border: 10px solid #3A3A3A;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    > li {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      // overflow: hidden;
      transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
      vertical-align: top;
      white-space: normal;
      &.scrollable {
        overflow-y: scroll;
      }
      &:nth-of-type(2) {
        background: url(https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg);
      }
    }
  }
  & > input {
    &:nth-of-type(2):checked ~ ul #bg {
      width: 80%;
      padding: 22px;
      transition: 0.5s 0.5s;
      div {
        transform: translate(0);
        transition: 0.5s 0.9s;
      }
    }
  }


  &.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
    label {
      border: 1px solid #7e7e7e;
    }
  }
  .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    user-select: none;
    & > div {
      margin-left: -100%;
    }
    animation: chat-close 3s forwards;
    animation-delay: 10s;
    label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      margin: 0 4px;
      padding: 4px;
      background: #3A3A3A;
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -6px;
        margin-top: -6px;
        background: #71ad37;
        border-radius: 50%;
        padding: 6px;
        opacity: 0;
      }
      &:hover:after {
        opacity: 1;
      }
    }
  }


  .arrows {
    user-select: none;
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    box-sizing: content-box;
    label {
      display: none;
      position: absolute;
      top: -50%;
      padding: 13px;
      box-shadow: inset 2px -2px 0 1px #3A3A3A;
      cursor: pointer;
      transition: box-shadow 0.15s, margin 0.15s;
      &:hover {
        box-shadow: inset 3px -3px 0 2px #71ad37;
        margin: 0 0px;
      }
      &:before {
        content: '';
        position: absolute;
        top: -100%;
        left: -100%;
        height: 300%;
        width: 300%;
      }
    }
  }



  ::-webkit-scrollbar {
    width: 2px;
    background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(74, 168, 0, 0.6);
  }  
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after {
  opacity: 1;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3) {
  display: block;
  left: 0;
  right: auto;
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3) {
  display: block;
  right: 0;
  left: auto;
  transform: rotate(225deg);
}

#bg {
  color: #000;
  padding: 22px 0;
  position: absolute;
  left: 0;
  top: 16%;
  height: 20%;
  width: 0;
  z-index: 10;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 1px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg) 1px 23%;
    -webkit-filter: blur(7px);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: none;
  }
  div {
    transform: translate(120%);
  }
}

.scrollable p {
  padding: 30px;
  text-align: justify;
  line-height: 140%;
  font-size: 120%;
}

/*___________________________________ LINK ___________________________________ */
a.nice-link {
  position: relative;
  color: #71ad37;
  &:after {
    text-align: justify;
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #a5ff0e;
    min-height: 100%;
    width: 0;
    max-width: 100%;
    background: #3A3A3A;
    transition: 0.3s;
  }
  &:hover {
    color: #71ad37;
    &:after {
      width: 100%;
    }
  }
}