<section class="services container">
    <h2 class="services-title">Our most popular services</h2>
    <ul class="services-list">
      @@include('service/service-card.html',{
        "img":"../images/services-1.jpg",
        "alt": "",
        "title":"Carpet <br>Cleaning",
        "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",

      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-2.jpg",
        "alt": "",
        "title":"rdsgfdrt ",
        "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you.",
        
      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-3.jpg",
        "alt": "",
        "title":"Carpet <br>Cleaning",
        "text":" and healthier home for you.",
        
      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-4.jpg",
        "alt": "",
        "title":"Carpet <br>Cleaning",
        "text":"carpet and healthier home for you.",
        
      } )
    </ul>
  </section>