<section class="services container">
    <h2 class="services-title">Our most popular services</h2>
    <ul class="services-list">
      @@include('service/service-card.html',{
        "img":"../images/services-1.jpg",
        "alt": "",
        "title":"Carpet <br>Cleaning",
        "text":"When you choose Chem-Dry, you get deeper clean, faster-drying carpet and healthier home for you."
      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-2.jpg",
        "alt": "",
        "title":"Tile & Grout Cleaning",
        "text":"One of the nicest touches to the basic architectural components of a homeis ceramic or stone tile in kitchens, bathrooms"
      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-3.jpg",
        "alt": "",
        "title":"Pet Stain Removal",
        "text":"Here at Chem-Dry, we love our pets. They brighten up our day and they’re always there to support us, through thick"
      } )
      @@include('service/service-card.html',{
        "img":"/static/images/services-4.jpg",
        "alt": "",
        "title":"Commercial Cleaning",
        "text":"Companies spend millions of dollars on carpeting, upholstery, leather and area rugs"
      } )
    </ul>
  </section>