.popup-contact {
  display: none;
  position: fixed;
  left: 50%;
  top: 167px;
  margin-left: -390px;
  /* z-index: 1; */
}

.popup-contact-open {
  display: block;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(149, 69, 154, 0.9);
  /* z-index: 0; */
}

.popup-overlay.show {
  display: block;
}

.popup-contact-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 14px;
  background-image: url('/image/cross.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popup-form {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px;
  max-width: 780px;
  background-color: #EEEEEE;
}

.field {
  display: flex;
  flex-direction: column-reverse;
}

.field-gap {
  margin-top: 20px;
}

.label {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
  margin-bottom: 6px;
}

.field input {
  padding: 0 20px;
  height: 50px;
  background-color: #EEEEEE;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.field input:focus,
.field input:hover {
  border: 2px solid rgba(255, 182, 18, 0.5);
  outline: 0;
}

.field input:focus + .label,
.field input:hover + .label {
  color: rgba(255, 182, 18, 0.5);
}

.field textarea {
  padding: 12px 20px;
  background-color: #EEEEEE;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.form-top-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.form-top-wrapper .field {
  width: 280px;
}

.form-top-wrapper .field:first-child {
 margin-right: 20px;
}

.form-fieldset-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.payment-list {
  display: flex;
  margin-top: 14px;
}

.checkbox-label {
  position: relative;
  margin-right: 33px;
  padding-left: 28px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
}

.checkbox-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 21px;
  height: 21px;
  background-color: #EEEEEE;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.checkbox-label::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 15px;
  height: 15px;
  background-color: #95459A;
  opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after {
  opacity: 1;
}

.checkbox-input:disabled + .checkbox-label {
  opacity: .5;
}

.radio-list {
  display: flex;
  margin-top: 20px;
}

.radio-list__item {
  margin-right: 33px;
}

.radio-button-label {
  position: relative;
  padding-left: 28px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #6B6A6A;
}

.radio-button-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.radio-button-label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #95459A;
  border-radius: 50%;
  opacity: 0;
}

.radio-input:checked + .radio-button-label::after {
  opacity: 1;
}

.form-btn-wrapper {
  margin-top: 20px;
  width: 181px;
}