<div class="popup-overlay"></div>

<section class="popup-contact">
  <button type="button" class="popup-contact-btn"><span class="visually-hidden">close popup</span></button>
  <form action="https://echo.htmlacademy.ru" method="post" class="popup-form">
    <div class="form-top-wrapper">
      <div class="field">
        <input id="name-input" type="text" placeholder="Ivan Ivanov" required>
        <label class="label" for="name-input">Name</label>
      </div>
      <div class="field">
        <input id="phone-input" type="text">
        <label class="label" for="phone-input">Phone</label>
      </div>
    </div>
    <div class="field field-gap">
      <input id="email-input" type="email">
      <label class="label" for="email-input">E-mail</label>
    </div>
    <div class="field field-gap">
      <input id="email-input" type="text" placeholder="">
      <label for="email-input" class="label">City of Birth</label>
    </div>
    <div class="field field-gap">
      <textarea id="textarea" rows="5"></textarea>
      <label for="textarea" class="label">Message</label>
    </div>
    <div class="form-btn-wrapper">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</section>