.header {
  display: flex;
  flex-direction: row;
  padding-top: 33px;
  padding-bottom: 33px;
  align-items: center;
  @media (max-width: 750px) {
    justify-content: space-between;
  }
  &__logo {
    margin-right: 25px;
    &:hover {
      opacity: 0.7;
      mix-blend-mode: multiply;
    }
    &:active {
      mix-blend-mode: multiply;
      opacity: 0.4;
    }
    img {
      max-width: 72px;
      @media (min-width: 1024px) {
        max-width: 97px;
      }
    }
    
  }
  .btn {
    @media (max-width: 750px) {
      display: none;
    }
  }
  &__mobile-btn {
    background: transparent;
    border: none;
    @media (min-width: 751px) {
      display: none;
    }
  }
  &__nav {
    margin-right: auto;
    @media (max-width: 750px) {
      display: none;
    }
  }
  &__nav_list {
    display: flex;
  }
  &__nav_item {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__nav_link {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;    
    color: #333333;
    text-decoration: none;
    &:hover {
      color: #008752;
    }
    &:active {
      color: #333333;
    }
  }
  &__phone {
    margin-right: 24px;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
}


.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(149, 69, 154, 0.9);
  transition: .4s;
  transform: translateX(-1000px);
  z-index: 2;
  &_open {
    transform: translateX(0);
  }

  @media (min-width: 750px) {
    display: none;
  }
  
  .mobile-container {
    background: #EEEEEE;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 75%;
    padding: 27px 20px;
    display: flex;
    flex-direction: column;

  }
  .header__logo {
    margin-bottom: 52px;
    img {
      max-width: 170px;
    }
  }
  .header__nav {
    display: block;
    &_list {
      flex-direction: column;
    }
    &_link {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
      display: block;
    }
  }
  .header__phone {
    margin: auto auto 20px ;
    display: block;
  }
  .btn {
    display: block;
    max-width: 100%;
  }
  .close-btn {
    position: absolute;
    top: 20px;
    right: 15%;
  }
}