<header class="header container" id="header">
  <a class="header__logo" aria-label="Go main page" href="/">
    <img src="/static/images/logo.png" alt="logo">
  </a>
  <nav class="header__nav">
    <ul class="header__nav_list">
      <li class="header__nav_item">
        <a class="header__nav_link" href="#">Catalog</a>
      </li>
      <li class="header__nav_item">
        <a href="#" class="header__nav_link">Servises</a>
      </li>
      <li class="header__nav_item">
        <a href="#" class="header__nav_link">Blog</a>
      </li>
      <li class="header__nav_item">
        <a href="#" class="header__nav_link">About us</a>
      </li>

    </ul>
  </nav>
  <a href="tel:719-431-9698" class="header__phone">719-431-9698</a>
    @@include('button/index.html', {
      "href":"/pages/contacts",
      "class": "",
      "text":"Contact Us"
    })
</header>