$size:16px;

@mixin pseudo() {
  content:'';
  display: block;
  position: absolute;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $size;
  line-height: 21px;
  color: #2C3036;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 110px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./map/map";
@import "./service/service";
@import "./awards/awards";
@import "./popup/popup";
@import "./about/about";