.awards {
  margin-top: 106px;
}

.awards-list {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1200px) {
    margin: 0 -20px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.awards-item {
  @media (max-width: 1200px) {
    margin: 0 20px;
  }
}

.awards-item:hover {
  opacity: .5;
}

.awards-item:active {
  opacity: .2;
}