<section class="awards container">
    <h2 class="awards-title visually-hidden">Awards</h2>
    <ul class="awards-list">
      <li class="awards-item">
        <img src="/static/images/awards/1.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/2.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/3.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/4.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/5.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/6.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/7.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/8.jpg" class="awards-item-img" alt="">
      </li>
      <li class="awards-item">
        <img src="/static/images/awards/9.jpg" class="awards-item-img" alt="">
      </li>
    </ul>
  </section>