.footer {
  padding: 50px 0;
  background-color: #00559D;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-desc {
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-link {
  margin-left: 1px;
}

.social-link a {
  display: block;
}

.social-link a:hover path {
fill: #60A7E3;
}
.social-link a:active path {
fill: #17354F;
}

.footer {
  padding: 50px 0;
  background-color: #00559D;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-desc {
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-link {
  margin-left: 1px;
}

.social-link a {
  display: block;
}

.social-link a:hover path {
  fill: #60A7E3;
}

.social-link a:active path {
  fill: #17354F;
}
