.map {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 133px;
  background-color: #eeeeee;
  background-image: url('static/images/section-map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.map-wrapper {
  padding-top: 50px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 26px;
  max-width: 380px;
  background-color: #008752;
}

.map-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.map-desc {
  margin-top: 17px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.map-phone {
  display: inline-block;
  vertical-align: middle;
  margin-top: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.map-btn-wrapper {
  width: 181px;
  margin-top: 23px;
}

.map-btn {
  background-color: #95459A;
}

.map-btn:hover {
  background-color: #D665DD;
}

.map-btn:active {
  background-color: #722A77;
}