.map {
    margin-top: 68px;
    padding-top: 40px;
    padding-bottom: 133px;
    background-image: url('/images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.map-wrapper {
    padding-top: 50px;
    padding-right: 44px;
    padding-left: 44px;
    padding-bottom: 26px;
    background: #008752;
    width: 380px;
}

.map-title {
    margin: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.map-desc {
    margin: 0;
    margin-top: 17px;
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.map-phone {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: underline;
}

.map-phone:hover {
    opacity: 0.7;
}

.map-phone:active {
    opacity: 0.5;
}

.map-button-wrapper {
    margin-top: 23px;
    width: 180px;
}